#ignore original data
Data/

# 忽略服务器连接和密钥文件
*.pem
Server.txt

# 忽略系统文件
.DS_Store

# 忽略大量可视化结果
Result/*Vis*

Result/Cluster_Method

Result/EQI_Map

Result/log

Delta_Ridgeline_Visualization

Result/Map

Result/Forest_Main

# 忽略rds文件
*.rds

# 忽略cluster里面的大量分析结果
Result/Cluster
